swagger: '2.0'
info:
  description: Sensor monitor services for V.A.P.E
  title: V.A.P.E Sensor Inventory
  version: 0.0.1 snapshot
host: sensor.vibraneur.com
basePath: /inventory/v1
schemes:
  - http
  - https
paths:
  '/{org_name}/sensors/count':
    get:
      tags:
        - Query statistics of all sensors
      summary: List statistics of all sensors including counts
      x-swagger-router-controller: controllers.sensor_info_controller
      operationId: get_sensors_count
      produces:
        - application/json
      parameters:
        - in: path
          name: org_name
          required: true
          type: string
          description: The name of the orgnization

      responses:
        '200':
          description: Successful operation
          schema:
            $ref: '#/definitions/SensorCount'
          headers:
            Access-Control-Allow-Origin:
              type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestException'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/Exception'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/Exception'

  '/{org_name}/sensors':
    get:
      tags:
        - Query sensors summary (list all status by default)
      summary: List all summary of all sensors
      x-swagger-router-controller: controllers.sensor_info_controller
      operationId: get_sensors_summary
      produces:
        - application/json
      parameters:
        - in: path
          name: org_name
          required: true
          type: string
          description: The name of the orgnization
        - in: query
          name: status
          enum:
            - ONLINE
            - DECOMMISSIONED
            - OFFLINE
            - ALL
          required: false
          type: string
          description: The status of sensors to include in the response

      responses:
        '200':
          description: Successful operation
          schema:
            $ref: '#/definitions/SensorSummaryList'
          headers:
            Access-Control-Allow-Origin:
              type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestException'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/Exception'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/Exception'

  '/sensor':
    get:
      tags:
        - Query detail of a sensor
      summary: Detail of a sensor
      x-swagger-router-controller: controllers.sensor_info_controller
      operationId: get_sensor_detail
      produces:
        - application/json

      parameters:
        - in: query
          name: id
          required: true
          type: string
          description: The id of the sensor

      responses:
        '200':
          description: Successful operation
          schema:
            $ref: '#/definitions/SensorDetail'
          headers:
            Access-Control-Allow-Origin:
              type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestException'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/Exception'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/Exception'
definitions:

  SensorCount:
    type: object
    description: sensor counts infomation
    properties:
      total:
        type: number
      online:
        type: number
      offline:
        type: number
      decommissioned:
        type: number

  SensorSummaryList:
    type: object
    description: A list of sensor summaries
    properties:
      sensorList:
        type: array
        items:
          $ref: '#/definitions/SensorSummary'
      count:
        type: number

  SensorSummary:
    type: object
    description: A snapshot of sensor information
    properties:
      id:
        type: string
        description: The id of sensor
      status:
        $ref: '#/definitions/SensorStatus'

  SensorDetail:
    type: object
    description: Details of a sensor
    allOf: [$ref: '#/definitions/SensorSummary']
    properties:
      name:
        type: string
        description: Name of the sensor
      id:
        type: string
        description: Sensor id
      machineInfo:
        description: The machine which this sensor is installed on
        allOf: [$ref: '#/definitions/MachineSummary']

  MachineSummary:
    type: object
    properties:
      location:
        type: string
        description: The location
      name:
        type: string
        description: User customized name
      alertStatus:
        type: string
        enum:
          - ALARM
          - OK
          - INSUFFICIENT_DATA

  SensorStatus:
    type: string
    description: Describes sensor status
    enum:
      - ONLINE
      - DECOMMISSIONED
      - OFFLINE
      - ALL

  BadRequestException:
    type: object
    properties:
      message:
        type: integer
      errorCode:
        type: string
        readOnly: false
    required:
      - message
      - errorCode
  Exception:
    type: object
    properties:
      message:
        type: integer
      errorCode:
        type: string
        readOnly: false
    required:
      - message
      - errorCode