swagger: '2.0'
info:
  description: Sensor monitor services for V.A.P.E
  title: V.A.P.E Sensor Inventory
  version: 0.0.1 snapshot
host: sensor.vibraneur.com
basePath: /inventory/v1
schemes:
  - https
  - http
paths:
  '/{org_name}/bearing/count':
    get:
      tags:
        - Query alert statistics of all bearing
      summary: List statistics of all sensors including counts
      x-swagger-router-controller: controllers.bearing_info_controller
      operationId: get_bearing_count
      produces:
        - application/json
      parameters:
        - in: path
          name: org_name
          required: true
          type: string
          description: The name of the orgnization

      responses:
        '200':
          description: Successful operation
          schema:
            $ref: '#/definitions/BearingCount'
          headers:
            Access-Control-Allow-Origin:
              type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestException'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/Exception'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/Exception'

  '/{org_name}/bearings':
    get:
      tags:
        - Query list of beaing summary
      summary: List all summary of all bearnings
      x-swagger-router-controller: controllers.bearing_info_controller
      operationId: get_bearing_summary
      produces:
        - application/json
      parameters:
        - in: path
          name: org_name
          required: true
          type: string
          description: The name of the orgnization
        - in: query
          name: status
          enum:
            - ALL
            - ALARM
            - OK
            - INSUFFICIENT_DATA
          required: false
          type: string
          description: The status of bearings to include in the response

      responses:
        '200':
          description: Successful operation
          schema:
            $ref: '#/definitions/BearingSummaryList'
          headers:
            Access-Control-Allow-Origin:
              type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestException'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/Exception'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/Exception'

  '/bearing':
    get:
      tags:
        - Query detail of a bearing
      summary: Detail of a bearing
      x-swagger-router-controller: controllers.bearing_info_controller
      operationId: get_bearing_detail
      produces:
        - application/json

      parameters:
        - in: query
          name: id
          required: true
          type: string
          description: The id of the bearing

      responses:
        '200':
          description: Successful operation
          schema:
            $ref: '#/definitions/BearingDetail'
          headers:
            Access-Control-Allow-Origin:
              type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestException'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/Exception'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/Exception'
    patch:
      tags:
        - Add customized tags to a bearing
      summary: add customized tags to a bearing
      x-swagger-router-controller: controllers.bearing_info_controller
      operationId: patch_bearing_tags
      produces:
        - application/json

      parameters:
        - in: query
          name: id
          required: true
          type: string
          description: The id of the bearing

        - in: body
          name: tags
          description: k/v pairs
          required: true
          schema:
            $ref: '#/definitions/Tags'

      responses:
              '200':
                description: Successful operation
                schema:
                  $ref: '#/definitions/BearingDetail'
                headers:
                  Access-Control-Allow-Origin:
                    type: string
              '400':
                description: Bad Request
                schema:
                  $ref: '#/definitions/BadRequestException'
              '404':
                description: Not Found
                schema:
                  $ref: '#/definitions/Exception'
              '500':
                description: Server Error
                schema:
                  $ref: '#/definitions/Exception'
definitions:

  BearingCount:
    type: object
    description: bearing counts infomation
    properties:
      total:
        type: number
      ok:
        type: number
      alarm:
        type: number
      insufficientData:
        type: number

  BearingSummaryList:
    type: object
    description: A list of sensor summaries
    properties:
      bearingList:
        type: array
        items:
          $ref: '#/definitions/BearingSummary'
      count:
        type: number

  BearingSummary:
    type: object
    description: A snapshot of bearing information
    properties:
      id:
        type: string
        description: The id of bearing
      status:
        $ref: '#/definitions/BearingStatus'
      sensorsId:
        type: array
        items:
          type: string
      tags:
        allOf: [$ref: '#/definitions/Tags']

  BearingDetail:
    type: object
    description: Details of a sensor
    allOf: [$ref: '#/definitions/BearingSummary']
    properties:
      machineInfo:
        description: The machine which this sensor is installed on
        allOf: [$ref: '#/definitions/MachineSummary']
      sensors:
        type: array
        items:
          $ref: '#/definitions/SensorSummary'

  SensorSummary:
    type: object
    properties:
      id:
        type: string
      status:
        $ref: '#/definitions/SensorStatus'
      tags:
        allOf: [$ref: '#/definitions/Tags']
      installTime:
        type: string
        example: "2017-08-11-09-12-03"

  MachineSummary:
    type: object
    properties:
      location:
        type: string
        description: The location
      name:
        type: string
        description: User customized name
      alertStatus:
        $ref: '#/definitions/BearingStatus'

  BearingStatus:
    type: string
    enum:
      - ALARM
      - OK
      - INSUFFICIENT_DATA

  SensorStatus:
    type: string
    description: Describes sensor status
    enum:
      - ONLINE
      - DECOMMISSIONED
      - OFFLINE
      - ALL

  Tags:
    type: object
    additionalProperties:
      type: string
    example: {
      any_key: any_value,
      name: i am name,
      id: id given by customer,
      owner: given by customer,
    }

  BadRequestException:
    type: object
    properties:
      message:
        type: integer
      errorCode:
        type: string
        readOnly: false
    required:
      - message
      - errorCode
  Exception:
    type: object
    properties:
      message:
        type: integer
      errorCode:
        type: string
        readOnly: false
    required:
      - message
      - errorCode
